#say {
  transition: all .5s cubic-bezier(0.1, 2.1, 0, -1.19);
  color: var(--hty-text-color);
  display: block;
  text-align: center;
  font-family: $font-family-serif;
  font-weight: bold;
  padding: 0.5rem;
  border-top: $border-width solid var(--hty-secondary-text-color);
  border-bottom: $border-width solid var(--hty-secondary-text-color);
  
  &:hover {
    color: #2a2a2a;
    background: linear-gradient(130deg,hsla(0,0%,100%,.9),hsla(0,0%,100%,.9),hsla(0,0%,100%,0));
  }
  #say-content {
    display: block;
  }

  #say-from {
    display: block;
  }
}
