#say {
  transition: all .5s cubic-bezier(0.1, 2.1, 0, -1.19);
  color: var(--hty-text-color);
  display: block;
  text-align: center;
  font-family: $font-family-serif;
  font-weight: bold;
  padding: 0.5rem;
  border-top: $border-width solid var(--hty-secondary-text-color);
  border-bottom: $border-width solid var(--hty-secondary-text-color);
  background: transparent;
  
  #say-content {
    display: block;
  }

  #say-from {
    display: block;
  }
}

html[data-user-color-scheme="light"] #say,
html[data-user-color-scheme="dark"] #say {
  transition: all .5s cubic-bezier(0.1, 2.1, 0, -1.19);
  background: transparent;
 }


html[data-user-color-scheme="light"] #say:hover {
    background: linear-gradient(130deg, #000, #30302c, #c7c7c7);
    color: #e6e6e6;
}

html[data-user-color-scheme="dark"] #say:hover {
    color: #2a2a2a;
    background: linear-gradient(130deg,hsla(0,0%,100%,.9),hsla(0,0%,100%,.9),hsla(0,0%,100%,0));
}
