#say {
  color: var(--hty-text-color);
  display: block;
  text-align: center;
  font-family: $font-family-serif;
  font-weight: bold;
  padding: 0.5rem;
  border-top: $border-width solid var(--hty-secondary-text-color);
  border-bottom: $border-width solid var(--hty-secondary-text-color);

  &:hover {
    background-image: linear-gradient(130deg,hsla(0,0%,100%,.9),hsla(0,0%,100%,.9),hsla(0,0%,100%,0));
  }
  #say-content {
    display: block;
  }

  #say-from {
    display: block;
  }
}
