#busuanzi
  script(async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js")
  if theme.busuanzi.site_uv
    span#busuanzi_container_site_uv(title=__('footer.total_visitors'))!=theme.busuanzi.site_uv_header
      span
        +icon(theme.busuanzi.site_uv_icon, 14)
      span#busuanzi_value_site_uv
  if theme.busuanzi.site_pv
    span.leancloud_visitors(id="/", data-flag-title="Adkinsm BLOG - Home")
       span.post-meta-divider='-'
       span.post-meta-item-icon(title=__('post.views'))
         +icon(theme.busuanzi.page_pv_icon)
         |  
         span.leancloud-visitors-count
